.place__title {
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {  
    .place__title {
      max-width: calc((100vw - 128px) /2);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {  
    .place__title {
      max-width: calc((100vw - 76px) /2);
      font-size: 42px;
      line-height: 46px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .place__title {
      width: calc(100vw - 32px);
      font-size: 32px;
      line-height: 35px;
      margin-left: 16px;
    }
  }