.place__image {
    width: 460px;
    height: 460px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {    
    .place__image {
      width: calc((100vw - 128px) /2);
      width: calc((100vw - 128px) /2);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {  
    .place__image {
      width: calc((100vw - 76px) /2);
      width: calc((100vw - 76px) /2);
      align-self: stretch;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .place__image {
      width: 100vw;
      height: 100vw;
    }
  }