.header__lang {
  width: min-content;
  display: flex;
  gap: 18px;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0 0 6px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    margin: 0 0 8px;
  }
}