.header {
    width: calc(100vw - 96px);
    height: 52px;
    margin: 28px 0 56px;
    display: flex;
    align-items: end;
    gap: 18px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
    width: calc(100vw - 96px);
    margin: 28px auto 48px
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      width: calc(100vw - 48px);
      margin: 28px 0 48px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
      width: calc(100vw - 32px);
      height: 42px;
      margin: 16px 16px 48px;
    }
  }