.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {      
    .place__paragraph {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph {
      font-size: 16px;
    }
  }