.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__text {
      margin: 0 0 34px;
    }
  }