.intro {
    width: 690px;
    height: 100%; 
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
      width: auto;
      margin: 0 24px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
      width: auto;
      margin: 0 16px;
    }
  }