.cover {
  width: 1184px;
  padding: 245px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover:before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s ease-in-out opacity;
}

.cover:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {    
  .cover {
    width: 100%;
    height: 62.5vw;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    height: 62.5vw;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    width: 100%;
    height: 62.5vw;
    padding: 0;
  }
}