.place {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
  align-items: end;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    width: calc(100vw - 96px);
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {  
  .place {
    width: calc(100vw - 48px);
    column-gap: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: none;
    gap: 32px;
  }
}